# {{ project_name_human }}

<!---
Can use start-after and end-before directives in docs, see
https://myst-parser.readthedocs.io/en/latest/syntax/organising_content.html#inserting-other-documents-directly-into-the-current-document
-->

<!--- sec-begin-description -->

{{ project_description_short }}

{% if 'gitlab' in project_url %}

[#5 badges here]

{% elif 'github' in project_url %}

{% set project_name_github = project_url.split('/')[-1] %}
{% set org = project_url.split('github.com/')[-1].split('/')[:-1] | join('/') %}

[![CI]({{ project_url }}/actions/workflows/ci.yaml/badge.svg?branch=main)]({{ project_url }}/actions/workflows/ci.yaml)
[![Coverage](https://codecov.io/gh/climate-resource/{{ project_name_github }}/branch/main/graph/badge.svg)](https://codecov.io/gh/climate-resource/{{ project_name_github }})
[![Docs](https://readthedocs.org/projects/{{ project_name_pip }}/badge/?version=latest)](https://{{ project_name_pip }}.readthedocs.io)

**PyPI :**
[![PyPI](https://img.shields.io/pypi/v/{{ project_name_pip }}.svg)](https://pypi.org/project/{{ project_name_pip }}/)
[![PyPI: Supported Python versions](https://img.shields.io/pypi/pyversions/{{ project_name_pip }}.svg)](https://pypi.org/project/{{ project_name_pip }}/)
[![PyPI install]({{ project_url }}/actions/workflows/install.yaml/badge.svg?branch=main)]({{ project_url }}/actions/workflows/install.yaml)

**Other info :**
[![License](https://img.shields.io/github/license/{{ org }}/{{ project_name_github }}.svg)]({{ project_url }}/blob/main/LICENSE)
[![Last Commit](https://img.shields.io/github/last-commit/{{ org }}/{{ project_name_github }}.svg)]({{ project_url }}/commits/main)
[![Contributors](https://img.shields.io/github/contributors/{{ org }}/{{ project_name_github }}.svg)]({{ project_url }}/graphs/contributors)

{% endif %}

<!--- sec-end-description -->

Full documentation can be found at:
[{{ project_name_pip }}.readthedocs.io](https://{{ project_name_pip }}.readthedocs.io/en/latest/).
We recommend reading the docs there because the internal documentation links
don't render correctly on {% if 'gitlab' in project_url %}GitLab{% elif 'github' in project_url %}GitHub{% endif %}'s viewer.

## Installation

<!--- sec-begin-installation -->

TODO: set up this part of the workflow and test it (https://gitlab.com/magicc/copier-fgen-based-repository/-/issues/5)

{{ project_name_human }} can be installed with conda or pip:

```bash
pip install {{ project_name_pip }}
conda install -c conda-forge {{ project_name_pip }}
```

{% if plot_dependencies or notebook_dependencies %}
Additional dependencies can be installed using

```bash
{% if plot_dependencies %}# To add plotting dependencies
pip install {{ project_name_pip }}[plots]
{% endif %}
{% if notebook_dependencies %}# To add notebook dependencies
pip install {{ project_name_pip }}[notebooks]
{% endif %}

# If you are installing with conda, we recommend
# installing the extras by hand because there is no stable
# solution yet (issue here: https://github.com/conda/conda/issues/7502)
```
{% endif %}

<!--- sec-end-installation -->

### For developers

<!--- sec-begin-installation-dev -->

```sh
make virtual-environment
make fgen-wrappers
make build-fgen
make install
make test
```

TODO: update this because we have non-Python dependencies (related to https://gitlab.com/magicc/copier-fgen-based-repository/-/issues/6)

For development, we rely on [poetry](https://python-poetry.org) for all our
dependency management. To get started, you will need to make sure that poetry
is installed
([instructions here](https://python-poetry.org/docs/#installing-with-the-official-installer),
we found that pipx and pip worked better to install on a Mac).

For all of our work, we use our `Makefile`.
You can read the instructions out and run the commands by hand if you wish,
but we generally discourage this because it can be error prone.
In order to create your environment, run `make virtual-environment`.

If there are any issues, the messages from the `Makefile` should guide you
through. If not, please raise an issue in the [issue tracker][issue_tracker].

For the rest of our developer docs, please see [](development-reference).

[issue_tracker]: {{ project_url }}{% if not project_url.endswith('/') %}/{% endif %}issues

<!--- sec-end-installation-dev -->
