(notebooks-reference)=
# Notebooks

Here we provide various examples of how to use {{ project_name_human }}.
They  are derived from
[jupyter notebooks](https://docs.jupyter.org/en/latest/start/index.html),
but are saved using [jupytext](https://jupytext.readthedocs.io/en/latest/)
to keep our repository slim and make it easier to track changes.

## Basic demos

```{toctree}
:caption: Contents
:maxdepth: 1
notebooks/basic-demo.py
```

## Notebook execution info

```{nb-exec-table}
```
