name: Test installation

on:
  workflow_dispatch:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 0 * * 3'

jobs:
  test-pypi-install:
    name: Test PyPI install ({% raw %}${{ matrix.python-version }}, ${{ matrix.os }}{% endraw %})
    runs-on: "{% raw %}${{ matrix.os }}{% endraw %}"
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        python-version: [ "3.10", "3.11", "3.12" ]
    steps:
    - name: Set up Python "{% raw %}${{ matrix.python-version }}{% endraw %}"
      id: setup-python
      uses: actions/setup-python@v5
      with:
        python-version: "{% raw %}${{ matrix.python-version }}{% endraw %}"
    - name: Install
      run: |
        pip install --upgrade pip
        pip install {{ project_name_pip }}
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Test installation
      run: |
        which python
        python scripts/test-install.py
